.checkoutProduct {
  display: flex;
  margin: 20px 0;
}

.checkoutProduct__info {
  padding-left: 20px;
  overflow-wrap: break-word;
}

.checkoutProduct__title {
  font-size: 1em;
  font-weight: 800;
}

.checkoutProduct__info > button {
  background: #f0c14b;
  border: 1px solid;
  margin-top: 10px;
  border-color: #a88734 #9c7e31 #846a29;
  color: #111;
}

.checkoutProduct__image {
  object-fit: contain;
  width: 15rem;
  height: 15rem;
}

.checkoutProduct__rating {
  display: flex;
}

@media only screen and (max-width: 600px) {
  .checkoutProduct {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
    border-bottom: 1px solid lightgray;
  }
  .checkoutProduct__title {
    padding-top: 15px;
  }
}
